<h4 class="mb-4">Evaluation de <%= evaluation.user %></h4>
<div class="row">
  <div class="col-md-3">
    <h5>Qualité du parcours scolaire</h5>
    <p><%= evaluation.attitude %></p>
  </div>
  <div class="col-md-3">
    <h5>Projet de formation motivé</h5>
    <p><%= evaluation.intention %></p>
  </div>
  <div class="col-md-3">
    <h5>Intérêt du projet en ligne</h5>
    <p><%= evaluation.production %></p>
  </div>
  <div class="col-md-3">
    <h5>Motivation pour la spécialité</h5>
    <p><%= evaluation.localization %></p>
  </div>
</div>
<% if evaluation.boost %><p>Coup de cœur</p><% end %>
<h5>Commentaire</h5>
<%= simple_format evaluation.comment %>
