<% unless evaluation.done? %>
  <%= link_to t('reject'),
              no_url_evaluations_path(@candidate),
              method: :post,
              class: 'btn btn-danger float-right' %>
<% end %>
<h4>Evaluation de <%= evaluation.user %></h4>
<%= simple_form_for(evaluation) do |f| %>
  <%= f.association :user, as: :hidden %>
  <%= f.association :candidate, as: :hidden %>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :attitude,
                        as: :radio_buttons,
                        collection: Modifier.attitude,
                        label_method: :title_and_description,
                        label: 'Qualité du parcours scolaire' %>
    </div>
    <div class="col-md-6">
      <%= f.association :intention,
                        as: :radio_buttons,
                        collection: Modifier.intention,
                        label_method: :title_and_description,
                        label: 'Projet de formation motivé' %>
    </div>
    <!--
    <div class="col-md-3">
      <%= f.association :production,
                        as: :radio_buttons,
                        collection: Modifier.production,
                        label_method: :title_and_description,
                        label: 'Intérêt du projet en ligne' %>
    </div>
    <div class="col-md-3">
      <%= f.association :localization,
                        as: :radio_buttons,
                        collection: Modifier.localization,
                        label_method: :title_and_description,
                        label: 'Motivation pour la spécialité' %>
    </div>
    -->
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= f.input :comment,
                  as: :text,
                  label: 'Commentaire (optionnel)',
                  input_html: { rows: 3 } %>
    </div>
    <div class="col-md-3">
      <label>&nbsp;</label><br/>
      <%= f.input :boost, label: 'Coup de cœur' %>
      <%= f.submit 'Enregistrer l\'évaluation', class: 'btn btn-primary align-right' %>
    </div>
  </div>
<% end %>
