<% if evaluations.any? %>
  <p><%= evaluations.respond_to?(:total_count)  ? evaluations.total_count
                                                : evaluations.count %> candidats</p>
  <table class="table">
    <thead>
      <tr>
        <th>Candidat</th>
        <th>Evaluateur</th>
        <th>Commentaire</th>
      </tr>
    </thead>
    <tbody>
      <% evaluations.each do |evaluation| %>
        <tr>
          <td><%= link_to evaluation.candidate, evaluation.candidate %></td>
          <td><%= link_to evaluation.user, evaluation.user %></td>
          <td><%= simple_format evaluation.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate evaluations, theme: 'twitter-bootstrap-4', param_name: param_name if evaluations.respond_to?(:entry_name) %>
<% else %>
  <p>Aucun</p>
<% end %>
