<% content_for :title, 'Modificateurs' %>

<% Modifier::KINDS.each do |kind| %>
  <h2><%= Modifier.label kind %></h2>

  <table class="table">
    <thead>
      <tr>
        <th width="200">Titre</th>
        <th width="600">Description</th>
        <th>Valeur</th>
        <th>Candidats</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @modifiers.where(kind: kind).order(:value).each do |modifier| %>
        <tr>
          <td><%= link_to modifier.title, modifier %></td>
          <td class="small"><%= modifier.description %></td>
          <td><%= modifier.value.round %></td>
          <td><%= modifier.candidates.count %></td>
          <td>
            <%= link_to 'Edit', edit_modifier_path(modifier), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Destroy', modifier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>


<br>

<%= link_to 'New Modifier', new_modifier_path %>
