<% content_for :title, @modifier.title %>

<div class="row">
  <div class="col-md-2"><%= @modifier.kind %></div>
  <div class="col-md-7"><%= @modifier.description %></div>
  <div class="col-md-2"><%= @modifier.value %></div>
  <div class="col-md-1"><%= link_to 'Edit', edit_modifier_path(@modifier), class: 'btn btn-primary btn-block btn-sm' %></div>
</div>

<h2 class="mt-5">Candidats</h2>
<%= render 'candidates/table', candidates: @modifier.candidates %>
