<%
candidates_count = candidates.count
candidates_count = 1 if candidates_count.zero?
candidates_ids = candidates.pluck(:id)
candidates_concerned = Candidate.where(id: candidates_ids)
%>
<p><%= candidates_count %> personnes</p>
<div class="row">
    <div class="col-md-4">
        <%
        scholarships = candidates_concerned.where(scholarship: true).count
        non_scholarships = candidates_concerned.where(scholarship: false).count
        scholarships_percent = (100.0 * scholarships / candidates_count).round
        non_scholarships_percent = (100.0 * non_scholarships / candidates_count).round
        %>
        <h3><%= scholarships_percent %>% boursiers</h3>
        <p><%= scholarships %> candidats</p>
        <%= pie_chart [
            ['Boursiers', scholarships],
            ['Non boursiers', non_scholarships]
            ]%>
    </div>
    <div class="col-md-5">
        <%
        bac_tech = Baccalaureat.tech
        bac_gen = Baccalaureat.gen
        techs_count = candidates_concerned.where(baccalaureat_id: bac_tech.children_ids).count
        gens_count = candidates_concerned.where(baccalaureat_id: bac_gen.children_ids).count
        techs = (100.0 * techs_count / candidates_count).round
        gens = (100.0 * gens_count / candidates_count).round
        %>
        <h3><%= techs %>% bacs technologiques</h3>
        <p><%= techs_count %> candidats</p>
        <%= pie_chart [
            [bac_tech.to_s, techs_count],
            [bac_gen.to_s, gens_count]
        ] %>
    </div>
    <div class="col-md-3">
        <%
        women_count = candidates_concerned.women.count
        men_count = candidates_concerned.men.count
        women = (100.0 * women_count / candidates_count).round
        %>
        <h3><%= women %>% femmes</h3>
        <%= pie_chart [
            ['Femmes', women_count],
            ['Hommes', men_count]
        ] %>
    </div>
</div>

<%#= render 'candidates/stats/evaluation',
            candidates: candidates,
            candidates_ids: candidates_ids,
            decile: decile %>

<%= render 'candidates/stats/interview',
            candidates: candidates,
            candidates_ids: candidates_ids,
            decile: decile %>

<%= render 'candidates/stats/baccalaureats',
            candidates_ids: candidates_ids %>