<% content_for :title, 'Baccalauréats' %>
<p><%= @baccalaureats.count %> baccalauréats</p>
<table class="table">
  <thead>
    <tr>
      <th width="600">Title</th>
      <th>Quota</th>
      <th>Dossiers</th>
      <th>Entretiens</th>
      <th>Sélection</th>
    </tr>
  </thead>

  <tbody>
    <% @baccalaureats.each do |baccalaureat| %>
      <tr>
        <td><%= link_to baccalaureat, baccalaureat %></td>
        <td><%= "#{baccalaureat.inherited_quota.round}%" if baccalaureat.inherited_quota %></td>
        <td><%= baccalaureat.inherited_candidates.count %></td>
        <td><%= baccalaureat.inherited_candidates.evaluation_selected.count %></td>
        <td>0</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un baccalaureat', new_baccalaureat_path, class: 'btn btn-primary' %>
