<h1>Baccalauréats</h1>
<p><%= @baccalaureats.count %> baccalauréats</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Candidates</th>
      <th>Quota</th>
      <th>Bonus</th>
    </tr>
  </thead>

  <tbody>
    <% @baccalaureats.each do |baccalaureat| %>
      <tr>
        <td><%= link_to baccalaureat, baccalaureat %></td>
        <td><%= baccalaureat.inherited_candidates.count %></td>
        <td><%= baccalaureat.inherited_quota.round if baccalaureat.inherited_quota %></td>
        <td><%= baccalaureat.inherited_evaluation_bonus if baccalaureat.inherited_evaluation_bonus %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un baccalaureat', new_baccalaureat_path, class: 'btn btn-primary' %>
