<%= link_to_if @baccalaureat.parent, @baccalaureat.parent, @baccalaureat.parent %>

<h1><%= @baccalaureat.title %></h1>

<% if @baccalaureat.quota %>
  <p>Quota: <%= @baccalaureat.quota %></p>
<% end %>

<%= link_to 'Modifier', edit_baccalaureat_path(@baccalaureat), class: 'btn btn-primary' %>
<%= link_to 'Supprimer', baccalaureat_path(@baccalaureat), method: :delete, data: { confirm: 'Sûr ?' }, class: 'btn btn-danger' unless @candidates.any? %>

<%= render 'candidates/table', candidates: @candidates %>