<% content_for :title, 'Utilisateurs' %>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Evaluateur</th>
      <th>Evalué</th>
      <th>A évaluer</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.evaluator ? 'Oui' : 'Non' %></td>
        <td><%= user.candidates_evaluated.count %></td>
        <td><%= user.candidates_attributed.evaluation_todo.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Détail de l'évaluation</h2>
<p>Somme des points distribués</p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th class="small">Dossiers évalués</th>
      <th class="small">Moyenne des moyennes des dossiers</th>
      <th class="small">Qualité du parcours scolaire</th>
      <th class="small">Projet de formation motivé</th>
      <th class="small">Intérêt du projet en ligne</th>
      <th class="small">Motivation pour la spécialité</th>
      <th class="small">Total</td>
    </tr>
  </thead>
  <tbody>
    <% @users.where(evaluator: true).each do |user| %>
      <tr>
        <td><%= user %></td>
        <td><%= user.candidates_evaluated.count %></td>
        <td><%= user.candidates_evaluated.average(:dossier_note).round(2) unless user.candidates_evaluated.none? %></td>
        <% Modifier::KINDS_EVALUATION.each do |kind| %>
          <td>
            <%= user.evaluation_points_for(kind).round %>
            (<%= user.evaluation_points_average_for(kind).round(2) %>/c)
          </td>
        <% end %>
        <td>
          <%= user.evaluation_points_given.round %>
          (<%= user.evaluation_points_given_average.round(2) %>/c)
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Détail des entretiens</h2>
<p>Somme des points distribués</p>


<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Entretiens</th>
      <% Modifier::KINDS_INTERVIEW_LABELS.each do |label| %>
        <th class="small"><%= label %></th>
      <% end %>
      <th>Total</th>
      <th>Total (/candidat)</th>
    </tr>
  </thead>
  <tbody>
    <% @users.where(evaluator: true).each do |user| %>
      <tr>
        <td><%= user %></td>
        <td><%= user.candidates_interviewed.count %></td>
        <% Modifier::KINDS_INTERVIEW.each do |kind| %>
          <td>
            <%= user.interview_points_for(kind).round %>
            (<%= user.interview_points_average_for(kind).round(2) %>/c)
          </td>
        <% end %>
        <td><%= user.interview_points_given %></td>
        <td><%= user.interview_points_given_average.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>