<% content_for :title, 'Utilisateurs' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="6">Dossier</th>
      <th colspan="3">Entretien</th>
    </tr>
    <tr>
      <th width="200">Utilisateur</th>
      <th class="small">Evaluateur</th>
      <th class="small">Evalués</th>
      <th class="small">Boursiers</th>
      <th class="small">Reçus en entretien</th>
      <th class="small">Boursiers</th>
      <th class="small">Sélectionnés</th>
      <th class="small">Dans la promotion</th>
      <th class="small">Effectués</th>
      <th class="small">Sélectionnés</th>
      <th class="small">Dans la promotion</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.evaluator ? 'Oui' : 'Non' %></td>
        <td>
          <%= user.evaluations.done.count %>
          <% if user.evaluations.todo.any? %>
            <p class="small text-muted"><%= user.evaluations.todo.count %> restant à évaluer</p>
          <% end %>
        </td>
        <td class="small">
          <% if user.candidates_evaluated.any? %>
            <%= user.candidates_evaluated.scholars.count %>
          <% end %>
        </td>
        <td>
          <% if user.candidates_evaluated.any? %>
            <% count = user.candidates_evaluated.evaluation_selected.count %>
            <%= count %>
            <span class="badge badge-primary float-right">
              <%= number_to_percentage(100.0 * count / user.candidates_evaluated.count, precision: 0) %>
            </span>
          <% end %>
        </td>
        <td class="small">
          <% if user.candidates_evaluated.any? %>
            <%= user.candidates_evaluated.evaluation_selected.scholars.count %>
            <% if user.candidates_evaluated.scholars.count > 0 %>
              <span class="badge badge-primary float-right">
                <%= number_to_percentage(100.0 * user.candidates_evaluated.evaluation_selected.scholars.count / user.candidates_evaluated.scholars.count, precision: 0) %>
              </span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if user.candidates_evaluated.any? %>
            <% count = user.candidates_evaluated.selection_selected.count %>
            <%= count %>
            <span class="badge badge-primary float-right">
              <%= number_to_percentage(100.0 * count / user.candidates_evaluated.count, precision: 0) %>
            </span>
          <% end %>
        </td>
        <td>
          <% if user.candidates_evaluated.any? %>
            <% count = user.candidates_evaluated.promotion_selected.count %>
            <%= count %>
            <span class="badge badge-primary float-right">
              <%= number_to_percentage(100.0 * count / user.candidates_evaluated.count, precision: 0) %>
            </span>
          <% end %>
        </td>
        <td><%= user.candidates_interviewed.count %></td>
        <td>
          <% if user.candidates_interviewed.any? %>
            <% count = user.candidates_interviewed.selection_selected.count %>
            <%= count %>
            <span class="badge badge-primary float-right">
              <%= number_to_percentage(100.0 * count / user.candidates_interviewed.count, precision: 0) %>
            </span>
          <% end %>
        </td>
        <td>
          <% if user.candidates_interviewed.any? %>
            <% count = user.candidates_interviewed.promotion_selected.count %>
            <%= count %>
            <span class="badge badge-primary float-right">
              <%= number_to_percentage(100.0 * count / user.candidates_interviewed.count, precision: 0) %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
