<% content_for :title, 'Utilisateurs' %>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Evaluateur</th>
      <th>Evalué</th>
      <th>A évaluer</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.evaluator ? 'Oui' : 'Non' %></td>
        <td><%= user.candidates_evaluated.count %></td>
        <td><%= user.candidates_attributed.todo.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Détail de l'évaluation</h2>
<p>Somme des points distribués</p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Dossiers évalués</th>
      <th>Moyenne des moyennes des dossiers</th>
      <th>Qualité du parcours scolaire</th>
      <th>Projet de formation motivé</th>
      <th>Intérêt du projet en ligne</th>
      <th>Motivation pour la spécialité</th>
      <th>Total</td>
    </tr>
  </thead>

  <tbody>
    <% @users.where(evaluator: true).each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.candidates_evaluated.count %></td>
        <td><%= user.candidates_evaluated.average(:dossier_note).round(2) unless user.candidates_evaluated.none? %></td>
        <td><%= user.evaluation_points_for :attitude %></td>
        <td><%= user.evaluation_points_for :intention %></td>
        <td><%= user.evaluation_points_for :production %></td>
        <td><%= user.evaluation_points_for :localization %></td>
        <td><%= user.evaluation_points_given %></td>
      </tr>
    <% end %>
  </tbody>
</table>
