<h1>Entretien de recrutement MMI</h1>
<p>Candidat(e): <%= @candidate %></p>
<p>Date: <%= @candidate.updated_at.strftime('%d/%m/%Y') %></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="300">Critères et indicateurs</th>
      <th>Appréciation</th>
    </tr>
  </thead>
  <tbody>
  <% Modifier::KINDS_INTERVIEW.each_with_index do |kind, index| %>
    <% property = @candidate.send kind %>
    <% next if property.nil? %>
    <tr>
      <td><%= Modifier::KINDS_INTERVIEW_LABELS[index] %></td>
      <td>
        <p>
          <b><%= property.title %></b> 
          <%= property.description %>
        </p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= simple_format @candidate.interview_comment %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Note d'entretien</th>
      <th>Note de dossier</th>
      <th>Note totale</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @candidate.interview_note.to_f.round(2) %></td>
      <td><%= @candidate.evaluation_note.to_f.round(2) %></td>
      <td><%= @candidate.selection_note.to_f.round(2) %></td>
    </tr>
  </tbody>
</table>

<p>Prénoms, noms et signatures des membres du jury</p>

<table class="table table-borderless table-sm">
  <tr>
    <% @candidate.interviewers.each do |interviewer| %>
      <td>
        <p><%= interviewer %></p>
        <%= image_tag interviewer.signature_url, width: 300 if interviewer.signature.present? %>
      </td>
    <% end %>
  </tr>
</table>