<h1>Entretien de recrutement MMI</h1>
<h2>IUT Bordeaux Montaigne - session 2019</h2>
<p>Candidat(e): <%= @candidate %></p>
<p>Etudes: <%= @candidate.baccalaureat %></p>
<p>Date: <%= @candidate.updated_at.strftime('%d/%m/%Y') %></p>
<p>Jury: <%= @candidate.interviewers.join(', ') %></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="300">Critères et indicateurs</th>
      <th>Appréciation</th>
    </tr>
  </thead>
  <tbody>
  <% Modifier::KINDS_INTERVIEW.each_with_index do |kind, index| %>
    <% property = @candidate.send kind %>
    <% next if property.nil? %>
    <tr>
      <td><%= Modifier::KINDS_INTERVIEW_LABELS[index] %></td>
      <td>
        <p>
          <b><%= property.title %></b><br/>
          <%= property.description %>
        </p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>Remarques particulières - Profil et potentiel, points forts/points faibles :</p>
<textarea disabled="disabled" class="form-control"><%= @candidate.interview_comment %></textarea>

<br/>
<h4>Note : <%= @candidate.interview_note.to_f.round(2) %></h4>

<p>Prénoms, noms et signatures des membres du jury</p>

<table class="table table-borderless table-sm">
  <tr>
    <% @candidate.interviewers.each do |interviewer| %>
      <td>
        <%= interviewer %>
      </td>
    <% end %>
  </tr>
</table>