<h1>Entretien de recrutement MMI</h1>
<h2>IUT Bordeaux Montaigne - session 2019</h2>
<p>Candidat(e): <%= @candidate %></p>
<p>Etudes: <%= @candidate.baccalaureat %></p>                                                   
<p>Date: <%= Date.today.strftime('%d/%M/%Y') %></p>
<p>Jury: </p>
<table class="table table-bordered">
	<thead>
		<tr>
			<th width="500">Critères et indicateurs / échelle d’appréciation</th>
			<th width="100">Faible</th>
			<th width="100">Moyen</th>
			<th width="100">Bon</th>
			<th width="100">Très bon</th>
			<th>Commentaire</th>
		</tr>
	</thead>
	<tbody>
<%
criterions = [
	{
		title: '1. Connaissances de la formation',
		description: [
			'Connaissance des contenus et spécificités de la formation, des ateliers thématiques, venu aux JPO, conscient des efforts à fournir, motivé pour s’installer à Bordeaux',
			'Niveau d’information faible sur la formation, se positionne par rapport à des clichés, fausse idée des exigences ou débouchés de la formation ou autre projet plus adapté'
		],
		property: :interview_knowledge
	},
	{
		title: '2. Construction du projet professionnel',
		description: [
			'Renseigné sur les compétences, métiers, a rencontré des professionnels, stages, se projette après le DUT',
			'Vision confuse des métiers, des compétences nécessaires, des réalités du terrain, attentiste'
		],
		property: :interview_project
	},
	{
		title: '3. Motivation',
		description: [
			'Dynamisme, qualités d’écoute, sérieux, souci de bien faire, sens de l’organisation, capacité à travailler en équipe, à apprendre/s’auto-former, à gérer un projet ou une équipe, implication citoyenne',
			'Passivité, difficultés à travailler en équipe, manque de maturité et d’autonomie'
		],
		property: :interview_motivation
	},
	{
		title: '4. Curiosité et culture générale / MMI',
		description: [
			'Compétences techniques (avérées ou potentielles) dans un ou plusieurs domaines, voire équilibrées UE1/UE2 ! ;-)',
			'Difficultés pressenties à appréhender certains contenus de la formation'
		],
		property: :interview_culture
	},
	{
		title: '5. Capacité d’argumentation et de conviction',
		description: [
			'Argumentaire préparé, réponses pertinentes, claires et construites',
			'Réponses superficielles, voire confuses, flottements'
		],
		property: :interview_argument
	}
]
%>
	<% criterions.each do |criterion| %>
		<tr>
			<td>
				<h3><%= criterion[:title] %></h3>
				<% criterion[:description].each do |description| %>
					<p><%= description %></p>
				<% end %>
			</td>
			<% property = @candidate.send criterion[:property] %>
			<% 4.times do |index| %>
				<td><%= 'X' if property&.position == index %></td>
			<% end %>
			<td><%= property %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<p>Remarques particulières - Profil et potentiel, points forts/points faibles :</p>
<textarea disabled="disabled" class="form-control"><%= @candidate.interview_comment %></textarea>
  
<p>Note : <%= @candidate.interview_note %> / 20</p>

<p>NOMS Prénoms et signatures des membres du jury</p>
