<h1><%= @candidate %></h1>
<h2 class="h5 mb-5">Entretien de recrutement MMI</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="300">Critères et indicateurs</th>
      <th>Appréciation</th>
    </tr>
  </thead>
  <tbody>
    <% Modifier::KINDS_INTERVIEW.each_with_index do |kind, index| %>
      <% property = @candidate.send kind %>
      <% next if property.nil? %>
      <tr>
        <td><%= Modifier::KINDS_INTERVIEW_LABELS[index] %></td>
        <td>
          <p>
            <b><%= property.title %></b> 
            <%= property.description %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="300">Commentaire</th>
      <td><%= simple_format @candidate.interview_comment %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @candidate.updated_at.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Note</th>
      <td><%= @candidate.selection_note.to_f.round(2) %></td>
    </tr>
  </tbody>
</table>

<p class="mt-5">Prénoms, noms et signatures des membres du jury</p>

<table class="table table-borderless table-sm">
  <tr>
    <% @candidate.interviewers.each do |interviewer| %>
      <td>
        <p><%= interviewer %></p>
        <%= image_tag signature_path(interviewer.signature), class: "signature" if interviewer.signature.present? %>
      </td>
    <% end %>
  </tr>
</table>