<% content_for :title, @candidate %>

<%= render 'candidates/header', candidate: @candidate %>

<%= render 'candidates/synthesis', candidate: @candidate %>

<h2>Entretien</h2>
<%= simple_form_for(@candidate, url: candidates_interview_path(@candidate)) do |f| %>
  <div class="row">
    <% Modifier::KINDS_INTERVIEW.each_with_index do |kind, index| %>
      <div class="col-md-4">
        <%= f.association kind,
                          as: :radio_buttons,
                          collection: Modifier.send(kind),
                          label_method: :title_and_description,
                          label: Modifier::KINDS_INTERVIEW_LABELS[index] %>
      </div>
    <% end %>
    <div class="col-md-4">
      <%= f.input :interview_bonus,
                  label: 'Je veux absolument ce candidat je mise mon joker',
                  hint: '+50 points, 1 seul joker par personne examinatrice pendant les 2 semaines. Le joker n\'apparaît pas sur le PV.' %>
      <%= f.input :interview_comment,
                  label: 'Commentaire',
                  hint: 'Ce commentaire est indispensable en cas de recours administratif. Il faut identifier les marges de progression pour une éventuelle prochaine candidature.',
                  input_html: { rows: 5 } %>
      <%= f.association :interviewers,
                        as: :check_boxes,
                        collection: User.evaluators,
                        label: 'Entretien avec' %>
      <%= f.submit 'Enregistrer l\'entretien', class: 'btn btn-primary align-right' %>
    </div>
  </div>
<% end %>

<hr/>

<% if @candidate.evaluations.any? %>
  <h2>Evaluation du dossier</h2>
  <% @candidate.evaluations.each do |evaluation| %>
    <%= render 'evaluations/evaluation', evaluation: evaluation %>
  <% end %>
  <hr/>
<% end %>

<%= render 'candidates/full', candidate: @candidate %>
