<%= simple_form_for(@setting) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :evaluation_scholarship_bonus %>
    <%= f.input :interview_number_of_candidates %>
    <%= f.input :interview_bonus %>
    <%= f.input :selection_number_of_candidates %>
    <%= f.input :selection_scholarship_bonus %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
