<p>
  <strong>Evaluation scholarship bonus:</strong>
  <%= @setting.evaluation_scholarship_bonus %>
</p>

<p>
  <strong>Interview number of candidates:</strong>
  <%= @setting.interview_number_of_candidates %>
</p>

<p>
  <strong>Interview bonus:</strong>
  <%= @setting.interview_bonus %>
</p>

<p>
  <strong>Selection number of candidates:</strong>
  <%= @setting.selection_number_of_candidates %>
</p>

<p>
  <strong>Selection scholarship bonus:</strong>
  <%= @setting.selection_scholarship_bonus %>
</p>

<p>
  <strong>Selection gender bonus:</strong>
  <%= @setting.selection_gender_bonus %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %>