<%= simple_form_for(candidate) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.association :attitude,
                        as: :radio_buttons,
                        collection: Modifier.attitude,
                        label_method: :title_and_description,
                        label: 'Qualité du parcours scolaire' %>
    </div>
    <div class="col-md-3">
      <%= f.association :intention,
                        as: :radio_buttons,
                        collection: Modifier.intention,
                        label_method: :title_and_description,
                        label: 'Projet de formation motivé' %>
    </div>
    <div class="col-md-3">
      <%= f.association :production,
                        as: :radio_buttons,
                        collection: Modifier.production,
                        label_method: :title_and_description,
                        label: 'Intérêt du projet en ligne' %>
    </div>
    <div class="col-md-3">
      <%= f.association :localization,
                        as: :radio_buttons,
                        collection: Modifier.localization,
                        label_method: :title_and_description,
                        label: 'Motivation pour la spécialité' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= f.input :evaluation_comment,
                  label: 'Commentaire' %>
    </div>
    <div class="col-md-3">
      <label>&nbsp;</label><br/>
      <%= f.submit 'Enregistrer l\'évaluation', class: 'btn btn-primary align-right' %>
    </div>
  </div>
<% end %>
