<div class="card mb-3">
  <div class="card-body">
    <% if candidate.scholarship %>
      <span class="badge badge-dark float-right">Boursier</span>
    <% end %>
    <%= link_to 'Modifier', edit_candidate_path(@candidate), class: 'btn btn-light btn-sm float-right' %>
    <p><%= candidate.number %></p>
    <div class="row">
      <div class="col-md-4">
        <p><%= candidate.level %></p>
        <p>
          <% if candidate.evaluations.reload.any? %>
            Evaluations:
            <%= candidate.evaluations.map { |e| e.user.to_s }.join ', ' %>
          <% else %>
            Non évalué
          <% end %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Baccalaureat:</strong>
          <%= link_to candidate.baccalaureat, candidate.baccalaureat %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Moyenne:</strong>
          <%= candidate.dossier_note.round(2) %>
        </p>
        <p>
          <strong>Evaluation:</strong>
          <%= candidate.evaluation_note.round(2) %>
        </p>
      </div>
    </div>
  </div>
</div>
