<div class="card mb-3">
  <div class="card-body">
    <% if candidate.scholarship %>
      <span class="badge badge-dark float-right">Boursier</span>
    <% end %>
    <p><%= candidate.number %></p>
    <div class="row">
      <div class="col-md-4">
        <dl>
          <dt class="small text-muted">Niveau</dt>
          <dd><%= candidate.level %></dd>
        </dl>
        <dl>
          <dt class="small text-muted">Evaluations</dt>
          <dd>
            <% if candidate.evaluations.done.any? %>
              <%= candidate.evaluations.done.map { |e| e.user.to_s }.join ', ' %>
            <% else %>
              Non évalué
            <% end %>
          </dd>
        </dl>
        <%= link_to 'Modifier', edit_candidate_path(@candidate), class: 'btn btn-light btn-sm' %>
      </div>
      <div class="col-md-4">
        <dl>
          <dt class="small text-muted">Baccalauréat</dt>
          <dd><%= link_to baccalaureat_breaked(candidate.baccalaureat), candidate.baccalaureat %></dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt class="small text-muted">Moyenne du dossier</dt>
          <dd><strong><%= candidate.dossier_note.round(2) %></strong></dd>
        </dl>
        <!--
        <dl>
          <dt class="small text-muted">Moyenne après évaluation</dt>
          <dd><strong><%= candidate.evaluation_note.round(2) %></strong></dd>
        </dl>
        -->
        <dl>
          <dt class="small text-muted">Entretien</dt>
          <dd><strong><%= candidate.interview_note.round(2) %></strong></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
