<% if candidates.any? %>
  <%
  param_name ||= :page
  select_quantity ||= nil
  %>
  <p><%= page_entries_info candidates %></p>
  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th width="30">#</th>
        <th width="80">Numéro</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th width="400">Baccalaureat</th>
        <th width="80">Boursier</th>
        <th>Evaluation</th>
        <th>Evaluateur</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% candidates.each_with_index do |candidate, index| %>
        <%
        number_in_list = 1 + index + ((candidates.current_page-1) * candidates.current_per_page)
        selected = select_quantity.nil? || number_in_list <= select_quantity
        %>
        <tr class="<%= 'unselected' unless selected %>">
          <td>
            <span class="badge badge-info"><%= number_in_list %></span>
            <%= candidate.position %>
          </td>
          <td><%= link_to candidate.number, candidate %></td>
          <td><%= candidate.first_name %></td>
          <td><%= candidate.last_name %></td>
          <td class="small"><%= link_to candidate.baccalaureat, candidate.baccalaureat %></td>
          <td><%= candidate.scholarship ? 'Oui' : 'Non' %></td>
          <td><%= candidate.evaluation_note.round(2) %></td>
          <td class="small">
            <% if candidate.evaluated_by %>
              <%= link_to candidate.evaluated_by, candidate.evaluated_by %>
            <% elsif candidate.attributed_to %>
              <%= link_to candidate.attributed_to, candidate.attributed_to %>
            <% else %>
              Pas d'évaluateur
            <% end %>
          </td>
          <td class="small">
            <span class="badge badge-light">D<%= candidate.evaluation_decile %> dossier</span><br/>
            <% if candidate.selected_for_interview_decile %>
              <span class="badge badge-light">D<%= candidate.selected_for_interview_decile %> dossier sélectionnné</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate candidates, theme: 'twitter-bootstrap-4', param_name: param_name %>
<% else %>
  <p>Aucun candidat</p>
<% end %>