<% content_for :title, @candidate %>
<h1><%= @candidate %></h1>
<%= simple_form_for(@candidate) do |f| %>
  <%= f.association :baccalaureat,
                    collection: Baccalaureat.all.sort_by(&:to_s),
                    include_blank: false,
                    label_method: :to_s %>
  <%= f.input :dossier_note %>
  <%= f.input :evaluation_comment %>
  <%= f.submit 'Enregistrer', class: 'btn btn-primary align-right' %>
<% end %>
