<% content_for :title, 'Tous les dossiers' %>

<div class="progress" style="height: 30px;">
  <div  class="progress-bar bg-info"
        role="progressbar"
        style="width: <%= @candidates_percent %>%">
    <%= @candidates_done %>
  </div>
</div>
<%= link_to 'Recalculer l\'ordre des candidats',
            candidates_positionize_path,
            method: :post,
            class: 'btn btn-primary float-right' %>

<%= render 'table', candidates: @candidates, select_quantity: Setting.first.interview_number_of_candidates %>
<%= link_to 'New Candidate', new_candidate_path %>
<p><%= @candidates_synced.count %> candidats synchronisés avec Parcoursup</p>
