<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
  <%= link_to root_path, class:'navbar-brand logo' do %>
    <%= image_tag 'mmi-bordeaux.png' %>
    <p>Select</p>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if current_user %>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Mes candidats', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dossiers
            <span class="badge badge-primary"><%= Candidate.count %></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 300px">
            <%= link_to 'Tous les dossiers', candidates_path, class: 'nav-link' %>
            <div class="dropdown-divider"></div>
            <%= link_to '0 évaluation', candidates_path(evaluations: 0), class: 'nav-link' %>
            <%= link_to '1 évaluation', candidates_path(evaluations: 1), class: 'nav-link' %>
            <%= link_to '2 évaluations', candidates_path(evaluations: 2), class: 'nav-link' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Candidats boursiers', scholarship_candidates_path, class: 'nav-link' %>
            <%= link_to 'Statistiques des dossiers', candidates_stats_path, class: 'nav-link' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entretiens
            <span class="badge badge-primary"><%= Setting.first&.interview_number_of_candidates %></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 300px">
            <%= link_to 'Tous les entretiens', candidates_interviews_path, class: 'nav-link' %>
            <%= link_to 'Statistiques des entretiens', candidates_interviews_stats_path, class: 'nav-link' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sélection
            <span class="badge badge-primary"><%= Setting.first&.selection_number_of_candidates %></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 300px">
            <%= link_to 'Tous les candidats sélectionnés', candidates_selections_path, class: 'nav-link' %>
            <%= link_to 'Bacs technologiques', candidates_selections_path(baccalaureats: :tech), class: 'nav-link' %>
            <%= link_to 'Bacs généraux', candidates_selections_path(baccalaureats: :gen), class: 'nav-link' %>
            <%= link_to 'Statistiques des sélections', candidates_selections_stats_path, class: 'nav-link' %>
            <%= link_to 'Statistiques Tech', candidates_selections_stats_tech_path, class: 'nav-link' %>
            <%= link_to 'Statistiques Gen', candidates_selections_stats_gen_path, class: 'nav-link' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Promotion
            <span class="badge badge-primary"><%= Candidate.promotion_selected.count %></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 300px">
            <%= link_to 'Liste', candidates_promotion_path, class: 'nav-link' %>
            <%= link_to 'Statistiques', candidates_promotion_stats_path, class: 'nav-link' %>
            <%= link_to 'Statistiques Tech', candidates_promotion_stats_tech_path, class: 'nav-link' %>
            <%= link_to 'Statistiques Gen', candidates_promotion_stats_gen_path, class: 'nav-link' %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'Baccalauréats', baccalaureats_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Utilisateurs', users_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  <% end %>
</nav>
